.body{
    background-color:#132E35;
}
.random_img{
 
    box-shadow: 0px 0px 9px 2px rgb(54 104 115);
        color: transparent;
   
}

.AppConiner1{

    background-color: #d62828;
}
.content{
    width: max-content;
    margin: 35px
}
.img{
    background-color: antiquewhite;
    width: 249px;
    height: 248px;
}
.cover{
    background-color: #fbf9f9;
    width: fit-content;
    width: -moz-max-content;
    width: max-content;
    margin: 35px;
    border: 3px solid dodgerblue;
    box-shadow: 0px 0px 9px 2px rgb(54 104 115);   
}
.cover h1{
    font-family: cursive;
    font-style: unset;
}



.Image{
    width: 200px;
    height: 200px;
}
.Home{
    max-width: 1000px;
    padding: 0 20px;
    justify-content: center;

}
.grid{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 2em;
   
}
.article{
    display: flex;
    justify-content: center;
    

}
.article p{
    margin-left: auto;
    font-family: system-ui;
    margin-inline: auto;
}
 .Link{
    
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;

}
 