.main p{ 
    font-family: revert-layer;
    font-weight: 100; 
}


.img_header{
    background-position: center;
    object-fit: cover;
    max-width: -webkit-fill-available;
    width: -webkit-fill-available;
    height: 34vh;
    

}

.cover1{
    display: block; 
    position: absolute;
   
    top: 7em;
    width: -webkit-fill-available;
}

.cover1 h1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: inherit;
    text-shadow: 7px 13px 5px rgb(5 5 5);
    color: ghostwhite;
    font-family: cursive;
    font-style: italic;
}
.gallay_main{
    object-fit: cover;
    max-width: -webkit-fill-available;
    width: -webkit-fill-available;
    height: 38vh;
    /* margin-bottom: -2vh; */
    position: relative;
}
.cover1 Button {
    margin: auto;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: #1D9AF2;
    background-color: #f6d4a2;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 15px 18px 30px 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: background 0.8s;
    width: -moz-max-content;
    display: flex;
}
.cover1  Button:hover {
background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
color: white;
}
.cover1  Button:active{
background-color:#292d3e;
background-size: 100%;
transition: background 0s;
}










.cover3{
    display: grid;
    position: sticky;
    bottom: 400px;
    justify-content: center;
    

}
.cover3 h1{letter-spacing: 28px;
    animation: animate 7s linear infinite;
    color: antiquewhite;
}
.cover3 h1:hover{
    letter-spacing: 28px;
    color: antiquewhite;
    animation: animate 2s linear infinite;
    text-shadow: 1px 4px 4px #ffde02;

}

@keyframes animate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.app_main{

    background: rgb(2,49,80);
background: -moz-linear-gradient(0deg, rgba(2,49,80,1) 26%, rgba(2,35,52,1) 56%);
background: -webkit-linear-gradient(0deg, rgba(2,49,80,1) 26%, rgba(2,35,52,1) 56%);
background: linear-gradient(0deg, rgba(2,49,80,1) 26%, rgba(2,35,52,1) 56%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#023150",endColorstr="#022334",GradientType=1);
    margin-top: -70px;
    
}

.grid{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}

.grid >.grid_Container{
    margin-bottom: auto;
    box-shadow: 2px -3px 11px -8px red;
}


.grid h2{

    margin-top: revert;
    display: grid;
 
    align-items: center;
    justify-items: center;
}
.grid p{

    font-size: small;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    margin: 10px 28px;
   
}




.AppContainer1 > .about_context {
   display: grid;
    color: aliceblue;
    font-family: revert-layer;
    /* font-weight: 100; */
    width: 33%;
    margin-right: 22px;
    justify-content: center;
    align-content: center;


}

.AppContainer1 > .about_context > h1{
    font-weight: 800;
    font-size: larger;
    font-family: monospace;
    font-style: initial;
    border-bottom: 3px groove #fcfcfc;
    max-width: fit-content;


}
.AppContainer1 > .about_context > p{
    font-family: revert-layer;
    font-weight: 100;
    box-shadow: -6px 0px 2px -1px #8d1919a6;
    font-size: medium;
    font-family: revert-layer;
    font-weight:100;
}
.AppContainer1 >.aboutimg{

    height: 21em;
    border-top-left-radius: 219px;
    border-bottom-left-radius: 225px;
    width: 30em;

}

.c_link{
    color: chocolate;
}
.star{
    position: absolute;
    top: 17em;
}


.AppContainer1{
    
    display: flex;
    justify-content: right;
    margin-left: auto;
    margin-top: 25px;
 

}
.AppContainer2{
    
    display: flex;
    justify-content: left;
    margin-right: auto;

}


.AppContainer2 > .aboutimg2{

    height: 21em;
    border-top-right-radius: 219px;
    border-bottom-right-radius: 225px;
    width: 30em;
}

.AppContainer2 > .about_context2{
    display: grid;
    color: aliceblue;
    font-family: revert-layer;
    /* font-weight: 100; */
    width: 33%;
    margin-left: 22px;
    justify-content: center;
    align-content: center;

    margin-left: 4em;
}

.AppContainer2 > .about_context2 p{  font-family: revert-layer;
    font-weight: 100;
    box-shadow: -6px 0px 2px -1px #8d1919a6;
    font-size: medium;}

.about_context2 h1{
   
    border-bottom: 3px ridge #9ca3af;
    width: fit-content;
}
.AppContainer3{
    display: flex;
justify-content: center;
align-items: start;
}

.AppContainer3  h1,  .AppContainer3  p {
    font-family: auto;
    font-style: italic;
    display: flex;
    /* display: -webkit-box; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    margin-bottom: 14px;
    width: 28em;
    color: rgb(223, 240, 255);
    box-shadow: 9px 1px 3px -5px #8aac
   

 }
  .AppContainer3 > .Container1 > Button{
    
    -webkit-user-select: none;
    -moz-user-select: none;
    /* user-select: none; */
    /* width: 123px; */
    /* height: 3em; */
    margin-left: 11em;
    margin-top: 15px;
    color: #1D9AF2;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 15px 18px 30px 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: background 0.8s;
    width: -moz-max-content;
    width: max-content;
}






    .AppContainer3 > .Container1 > Button:hover {
    background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    color: white;
    }
    .AppContainer3 > .Container1 >  Button:active{
    background-color:#292d3e;
    background-size: 100%;
    transition: background 0s;
    }
    







 .Container2 > h1, .Container2 > p{
    display: flex;
    justify-content: center;
    /* margin-bottom: 0; */
    /* width: 23em; */
    color: rgb(223, 240, 255);
 }



.cover_gallary > .cover2{
 
    width: -moz-fit-content;
    width: -webkit-fill-available;
    height: 19em;
}

          

